<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/style.css" />
    <title>Menu</title>
</head>

<body>

    <h1>CNT4713 - Final Project</h1>
    <hr width = 500>
    <p class="msg">
        Please choose an option below.
    </p>
<div class="container">
    <img src="../static/logo.png" alt="CNT4713" class="logo" />
    <div class="form-input">
        <form action="/static" method="POST">
            <button name="static" type="submit" class="btn">Static Example</button>
        </form>

        <form action="/stream" method="POST">
            <button name="stream" type="submit" class="btn">Live Stream Example</button>
        </form>
    </div>
    <hr width = 500>
</body>
</html>
