<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/style.css" />
    <title>Static Stream Example</title>
</head>
	<body>
		<h1>Static Feed Demonstration</h1>
		<hr width=500>
		<div class="vid">
			<video name width=500 height=350 controls>
				<source src="../static/video.mp4" / type="video/mp4">
			</video>
		</div>
		<hr width=500>
		<div class="container">
			<div class="form-input">
				<form action="/menu" method="POST">
					<button name="back" type="submit" class="btn">Back</button>
				</form>
			</div>
		</div>
		
	</body>
</html>